/* Global Styles */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

/* Header Styles */

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

.header-content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#avatar {
	max-height: 120px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

/* Main Content Styles */

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin: 50px 0;
}

section h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

.work-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.work-grid a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
	border-radius: 10px;
	overflow: hidden;
	height: 300px;
	position: relative;
}

.work-grid img {
	width: 100%;
	height: 100%;
}

.work-grid h3 {
	color: #f2f2f2;
	-webkit-text-stroke: 1px black;
	font-size: 24px;
	position: absolute;
}

@media screen and (max-width: 768px) {
	.header-content {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	
	#avatar {
		margin-top: 20px;
	}
	
	nav {
		margin-top: 20px;
	}
	
	nav li {
		margin-right: 10px;
	}
	
	nav a {
		font-size: 16px;
	}
	
	.work-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
	
	.work-grid a {
		height: 200px;
	}
	
	.work-grid h3 {
		font-size: 20px;
	}
}
